<div class="row">
  <div class="large-12 columns">
    <h1>About</h1>

    <p>
      John Papa and Ward Bell demonstrate writing an application in Angular. Follow along as they build a form-based, customer
      management app from scratch. Create visual components that display data and respond to user input with data binding,
      write a service to retrieve the data over HTTP, organize the code in modules, and test it. You'll complete exercises
      along the way to lock in concepts and test your understanding.
    </p>

    <div>
      <ul>
        <li>Course Overview 1m: 45s</li>
        <li>Setting up Angular Quick Start: 25m 15s</li>
        <li>Simple Binding: 24m 2s</li>
        <li>Two-way Data Binding: 20m 2s</li>
        <li>Models: 9m 42s</li>
        <li>Refactoring to Template Files: 6m 59s</li>
        <li>List Binding: 22m 26s</li>
        <li>Multiple Components: 18m 23s</li>
      </ul>
    </div>

  </div>
</div>